body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.aligned {
  margin-bottom: 50px;
}

.aligned h1 {
  font-size: 35px;
  color: crimson;
}

.image-list {
  margin: 10px 0;
  color: purple;
  font-size: 20px;
}

.images {
  max-width: 600px;
  height: 400px;
  margin: 20px auto;
}

.images img {
  width: 100%;
}
